*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*NAVBAR*/
#mynav{
	background-color: #ffeeee;
}
#navitem:hover{
	text-shadow: 2px 1px 5px grey;
}

/*HOMEPAGE*/
#homelanding{
	background: url('landing.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
}
.homeheading{
	font-family: 'Great Vibes', cursive;
	margin-top: 7%;
	font-size: 5rem;
	text-shadow: 2px 1px 5px grey;
}

/*LANDING PAGE*/
#landing{
	background: url('landing.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 150vh;
}
.landingheading{
	font-family: 'Great Vibes', cursive;
	margin-top: 15%;
	font-size: 5rem;
	text-shadow: 2px 1px 5px grey;
}
.landingquote{
	font-style: italic;
	margin-bottom: 7px;
}

#landingabout{
	background: url('about.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.aboutheading{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
	margin: 0;
	text-shadow: 2px 1px 5px grey;
}
.aboutgreeting{
	text-align: center;
	margin-left: 50px;
	margin-top: 40%;
}
.aboutpara{
	text-align: center;
	margin-left: 50px;
	margin-top: 20px;
	font-style: italic;
	font-size: 1.10rem;
}

.storiesheading{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
	margin: 0;
	text-shadow: 2px 1px 5px grey;
}
#storyone{
	background: url('story1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.storyonepara{
	font-style: italic;
	margin-top: 80%;
	font-size: 1.10rem;
}
.storyonepara2{
	font-style: italic;
	font-size: 1.10rem;
}

#storytwo{
	background: url('story2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.storytwopara{
	font-style: italic;
	margin-top: 80%;
	font-size: 1.10rem;
}
.storytwopara2{
	font-style: italic;
	font-size: 1.10rem;
}

#storythree{
	background: url('story3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.storythreepara{
	font-style: italic;
	margin-top: 80%;
	font-size: 1.10rem;
}
.storythreepara2{
	font-style: italic;
	font-size: 1.10rem;
}


#parallax{
	background: url('parallax.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	margin-bottom: 10%;
}
.parallaxheading{
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 4.5rem;
	text-align: center;
	margin-top: 20%;
	text-shadow: 2px 1px 5px #ffeeee;
}
.parallaxpara{
	text-align-last: center;
	color: #ffeeee;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

/*FOOTER*/
#footer{
	background: url('footer.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	margin: 0;
}
.footerheading{
	margin-top: 20%;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}
.footerheadingmail{
	margin: 0;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}

/*REGISTER & LOGIN*/
#register{
	background: url('register.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 5%;
}
.registerheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 10%;
	font-size: 4rem;
	text-align: center;
}

#login{
	background: url('login.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 5%;
}
.loginheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 25%;
	font-size: 4rem;
	text-align: center;
}

/*TRANSACTION PAGE*/
#transaction{
	background: url('transaction.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 10%;
	margin-top: 3%;
}
.bookheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 15%;
	font-size: 3rem;
	text-align: center;
}
.appointmentsheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 5%;
	font-size: 3rem;
	text-align: center;
}



/*ADMIN PAGE*/
.adminheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 3%;
	font-size: 4rem;
	text-align: center;
}


/*USER PAGE*/
.userpageheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 4rem;
	text-align: center;
}
.editcredentials{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-bottom: 5%;
	font-size: 2.5rem;
	text-align: center;
}










@media only screen and (max-width: 400px){

	/*LANDING PAGE*/

	#landing{
		background: url('phonelanding.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 130vh;
	}

	#landingabout{
		background: url('phoneabout.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
	}
	.aboutgreeting{
		text-align: center;
		margin-left: 5px;
		margin-top: 70%;
	}
	.aboutpara{
		text-align: center;
		margin-left: 5px;
		margin-top: 20px;
		font-style: italic;
		font-size: 1.10rem;
	}

	#storyone{
		background: url('phonestory1.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
	}
	.storyonepara{
		font-style: italic;
		margin-top: 173%;
		font-size: 1.10rem;
	}
	.storyonepara2{
		font-style: italic;
		font-size: 1.10rem;
	}

	#storytwo{
		background: url('phonestory2.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
	}
	.storytwopara{
		font-style: italic;
		margin-top: 135%;
		font-size: 1.10rem;
	}
	.storytwopara2{
		font-style: italic;
		font-size: 1.10rem;
	}

	#storythree{
		background: url('phonestory3.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
	}
	.storythreepara{
		font-style: italic;
		margin-top: 160%;
		font-size: 1.10rem;
	}
	.storythreepara2{
		font-style: italic;
		font-size: 1.10rem;
	}

	#parallax{
		background: url('phoneparallax.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 100vh;
		margin: 0;
		margin-bottom: 10%;
	}

	/*FOOTER*/

	#footer{
		background: url('phonefooter.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 60vh;
		margin: 0;
	}
	.footerheading{
		margin-top: 65%;
		margin-bottom: 0;
		text-align: center;
		font-family: 'Great Vibes', cursive;
	}

	/*REGISTER & LOGIN*/
	#register{
		background: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
		margin-bottom: 5%;
	}
	#login{
		background: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
		margin-bottom: 5%;
	}

	/*HOMEPAGE*/

	#homelanding{
	background: url('phonelanding.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
	}

	/*TRANSACTION PAGE*/
	#transaction{
		background: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
		margin-bottom: 10%;
		margin-top: 3%;

	}
}




@media only screen and (min-width: 401px) and (max-width: 960px){

	/*LANDING PAGE*/

	#landing{
		background: url('ipadlanding.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 130vh;
	}

	#landingabout{
		background: url('ipadabout.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		margin: 0;
	}

	.aboutgreeting{
		text-align: center;
		margin-left: 50px;
		margin-top: 120%;
	}

	#storyone{
	background: url('ipadstory1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	}
	.storyonepara{
	font-style: italic;
	margin-top: 200%;
	font-size: 1.10rem;
	}

	#storytwo{
	background: url('ipadstory2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	}
	.storytwopara{
	font-style: italic;
	margin-top: 200%;
	font-size: 1.10rem;
	}

	#storythree{
	background: url('ipadstory3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	}
	.storythreepara{
	font-style: italic;
	margin-top: 200%;
	font-size: 1.10rem;
	}

	.parallaxheading{
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 4.5rem;
	text-align: center;
	margin-top: 50%;
	text-shadow: 2px 1px 5px #ffeeee;
	}

	/*FOOTER*/

	#footer{
	background: url('ipadfooter.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	margin: 0;
	}
	.footerheading{
	margin-top: 65%;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	}

	/*REGISTER & LOGIN*/
	#register{
	background: url('ipadregister.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 5%;
	}
	.registerheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 70%;
	font-size: 4rem;
	text-align: center;
	}

	#login{
	background: url('ipadlogin.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 5%;
	}
	.loginheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 100%;
	font-size: 4rem;
	text-align: center;
	}

	/*HOMEPAGE*/
	#homelanding{
	background: url('ipadlanding.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
	}

	/*TRANSACTION PAGE*/
	#transaction{
	background: url('ipadtransaction.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 10%;
	margin-top: 3%;
	}
	.bookheading{
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px 1px 5px grey;
	margin-top: 40%;
	font-size: 3rem;
	text-align: center;
	}

}